body{
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("images/dark_embroidery.png");
    color: #eee;
}



.container {
    height: 100%;
    width: 95%;
    margin: 0 auto;
}


#header-container {
    width: 100%;
    height: 15%;
}

header{
    text-align: center;
    font-family: Arial Verdana, sans-serif;
}

header h1 {
    color: #ffc86e;
}


.about a {
    font-size: 16px;
    color: #ff5d00;
    text-decoration: none;
    margin-left: 20px;
}

.about a:hover {
    color: deepskyblue;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}

.search-container input, button {
    margin-right: 15px;
}

.search-container button {
    padding: 10px;
    border-radius: 15px;
    background-color: deepskyblue;
    outline: none;
    font-weight: bold;
    color: #eee;
}

.search-container button:hover {
    background-color: #ff5d00;
}
.afterSpeed::after{
    content: "Speed";
    font-size: 12px;
}
    /*aside{*/
    /*height: 100%;*/
    /*width: 10%;*/
    /*display: inline-block;*/
    /*top: 35px;*/
    /*position: relative;*/

/*}*/

#map_container {
    height: 75%;
    width: 95%;
    margin: 15px auto 0px;
    padding: 10px;
}



#MainMap{
    height: 100%;
    width: 100%;
    display: inline-block;
    border-radius: 20px;
}

.borderimg2 {
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(images/border.png) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(images/border.png) 30 stretch; /* Opera 11-12.1 */
    border-image: url(images/border.png) 30 stretch;
}

.shadow {
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.tweets{
    font-size: 20px;
    color:red;
}

.flickrphoto img{
    width: 50px;
    height: 50px;
}

.flickrphoto {
    color: #474e5d;
    background-color: #eee;
    max-width: 350px;
}

input{
    font-size: 120%;
    border-radius: 5px;

}
.label{
    background-color: white;
    border: 1px solid black;
    height: 50px;
    width: 50px;
}



/* The Modal) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: #156068;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-header {
    padding: 2px 16px;
    background-color: #162929;
    color: #39aeff;
}
.modal-body {
    display: flex;
    justify-content: center;
    width: auto;
    height: 60vh;
    padding: 2px 16px;
}
.modal-body img{

}

.modal-footer {
    padding: 2px 16px;
    background-color: #162929;
    color: white;
}



.toggle-btn {
    text-align: center;
    margin:5px 2px;
    padding:0.4em 3em;
    color:#000;
    background-color:#FFF;
    border-radius:10px;
    display:inline-block;
    border:solid 1px #CCC;
    cursor:pointer;
}


.toggle-btn-grp {
    margin:3px 0;
}

.toggle-btn-grp.joint-toggle .toggle-btn {
    margin:5px 0;
    padding:0.4em 2em;
    border-radius:0;
    border-right-color:white;
}
.toggle-btn-grp.joint-toggle .toggle-btn:first-child {
    margin-left:2px;
    border-radius: 10px 0px 0px 10px;
}
.toggle-btn-grp.joint-toggle .toggle-btn:last-child {
    margin-right:2px;
    border-radius: 0px 10px 10px 0px;
    border-right:solid 1px #CCC;
}

.toggle-btn.success {
    background:lightgreen;
    border:solid 1px green !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}