body{
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("images/dark_embroidery.png");
    color: #eee;
}

.container {
    height: 100%;
    width: 95%;
    margin: 0 auto;
}


#header-container {
    width: 100%;
    height: 15%;
}

header{
    text-align: center;
    font-family: Arial Verdana, sans-serif;
}

#main-container{
    margin: 0 auto;
}
.stats-container{
    height: 90vh;
    width: 15vw;
    float: right;
header h1 {
    color: #ffc86e;
}


.about a {
    font-size: 16px;
    color: #ff5d00;
    text-decoration: none;
    margin-left: 20px;
}

.about a:hover {
    color: deepskyblue;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}

aside{
    height: 100%;
    width: 10%;
    display: inline-block;
    top: 35px;
    position: relative;

}

#map_container {
    height: 75%;
    width: 95%;
    margin: 15px auto 0px;
    padding: 10px;
}



#MainMap{
    height: 100%;
    width: 100%;
    display: inline-block;
    border-radius: 20px;
}

.borderimg2 {
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(images/border.png) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(images/border.png) 30 stretch; /* Opera 11-12.1 */
    border-image: url(images/border.png) 30 stretch;
}

.shadow {
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.tweets{
    font-size: 20px;
    color:red;
}

img{
    width: 50px;
    height: 50px;
}
input{
    font-size: 120%;
    border-radius: 5px;

}
.label{
    background-color: white;
    border: 1px solid black;
    height: 50px;
    width: 50px;
}



/* The Modal) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: #156068;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

#footer {
    height: 15vh;
    text-align:center;
    list-style-type: none;
}

a, a:visited {
    text-decoration: none;
}


@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-header {
    padding: 2px 16px;
    background-color: #162929;
    color: #39aeff;
}
.modal-body {
    display: flex;
    justify-content: center;
    width: auto;
    height: 60vh;
    padding: 2px 16px;
}
.modal-body img{

}

.modal-footer {
    padding: 2px 16px;
    background-color: #162929;
    color: white;
}

